body {
    background-color:aliceblue;
    text-align: center;
}

#container {
    width: 60vh;
    height: 60vh;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.items {
    background-color: white;
    margin: 0;
}